.background-blur{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(249, 249, 249, 0.652);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.main-wrapper{
    background-color: rgb(244, 244, 244);
    border-radius: var(--border-radius-m);
    width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button{
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 100%;
    background-color: red;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 400ms;
}

.close-button:hover{
    cursor: pointer;
    background-color: rgb(231, 0, 0);
}

.close-button-icon{
    width: 25px;
    height: 25px;
}

.search-field{
    background-color: var(--white);
    width: 80%;
    height: 40px;
    margin: 20px 0;
    border-radius: var(--border-radius-s);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.search-field-input{
    padding-left: 20px;
    height: 90%;
    width: calc(100% - 70px);
    border: none;
    outline: none;
    font-size: var(--text-size-p);
}

.search-field:focus-within{
    border-bottom: 2px solid orange;
}

.search-field-input-img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.result-field-list{
    margin: 0;
    padding: 0;
}

.result-field{
    background-color: var(--white);
    width: 80%;
    height: 400px;
    border-radius: var(--border-radius-s);
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.result-item{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
}

.result-item:hover{
    cursor: pointer;
    background-color: var(--light-gray);
}

.result-item-button{
    border-radius: 100%;
    background-color: var(--blue);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.result-item-button:hover{
    cursor: pointer;
}

.result-item-button-img{
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
}

.result-item-text{
    color: black
}

.already-in-inventory-img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    position: relative;
}